<h1>Please Enter Your Pledge</h1>
<form action="/pledges" method="POST">
  <p>
    Name:<br />
    <input type="text" name="name">
  </p>
  <p>
    Amount:<br />
    <input type="text" name="amount">
  </div>
  <div>
    <input type="submit" value="Create Pledge">
  </div>
</form>